body {
  margin:0;
  padding:0;
      background-color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #777;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}


#nav-bar {
  z-index:99;
  position:fixed;
  top:0;
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin:0 100px 0 0;
  border-bottom: 1px rgba(119,119,119,0.2) solid;
  box-shadow: 1px 1px 15px 1px  #999 ;
  font-size:12px;
  font-weight: 800;
}
#logo {
  margin:0 16px 0 0 ;
  padding: 5px 0;
  flex-grow: 2;
}

#nav-bar ul{
  list-style-type: none;
}
#nav-bar li {
  display:inline-block;
}
.nav-link{
  color: #777;
  text-decoration:none;
  padding: 0 10px;
  display: block;
}
.nav-bar-menu-wrap {
  display: flex;
}

.order-now {
  background-color: #1da1f2;
  font-family: "Roboto",sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  padding: 10px 30px;
  margin: 0 120px 0 30px ;
  display: inline-block;
  
}

.nav-bar-menu ul li a:hover  {
  color: #1da1f2;
  transition: 0.5s;
}

.home-container {
  padding: 68px 15px 0 76px;
  margin: 60px 61.5px 0 0px;
  display:grid;
  width:100%;
  border-bottom: 1px solid rgba(119,119,119,0.2);
  box-shadow:1px 1px 5px 1px  #ccc;
  
}
.home-container-2 {
  display:flex;
  align-items: center;
}
.home-container-content {
  width:50%
}
h1 {
  word-wrap:wrap;
  font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
    color: #222;
    letter-spacing: -0.05em;
}
.img-anim img{
  max-width: 100%;
  display:block;
  vertical-align: middle;
  outline: none;
  animation-name: cam-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: cam-animation;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes cam-animation {
  0% {transform:rotate(1deg);}
  25% {transform:rotate(0deg);}
  50% {transform:rotate(-1deg);}
  75% {transform:rotate(0deg);}
  100% {transform:rotate(1deg);}
}
.img-anim {
     flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 150px;
}

.img-anim:hover img {
   animation-name: cam-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: cam-animation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
}


.home-container-content a{
  color: #777;
  text-decoration:none;
  padding: 0 10px;
  display: block;
  background-color: #1da1f2;
  font-family: "Roboto",sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  padding: 15px 30px;
  display: inline-block;
}
.home-container-content a:hover {
  background-color: #5aa1f2;
  transition: 0.3s;
}
.order-now:hover {
  background-color: #5aa1f2;
  transition: 0.3s;
}

.four-boxes {
  display:flex;
  margin: 0 15px;
  padding: 100px 0;
  border-bottom: 1px solid rgba(119,119,119,0.2);
  box-shadow:1px 1px 5px 1px  #ccc;
}
.boxes {
  border: 1px dashed #ddd;
  margin: 0 15px;
  padding: 30px 15px;
}
.boxes:hover {
  transform: scale(1.10);
  transition: all 0.2s ease-in-out;
}
.boxes p, .boxes h3{
  text-align: center;
}
.boxes h3 {
  margin-left:  10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  color: #333;
  letter-spacing: -0.01em;
}
.boxes p {
  font-size: 15px;
}
.boxes img {
  margin: auto;
  display: block;
  width: 50px;
}

.how-it-works {
  color: white;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  
  
  background-image: url(http://html.dynamiclayers.net/te/sintex/img/how-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  z-index: 1;
}
.how-it-works::before {
    background-color: rgba(29,161,242,0.8);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1; 
}
form #email {
  width: 100%;
  background: white;
  color: red;
  font-size 15px;
}
form #submit {
  width: 100%;
  background: green;
  color: white;
  font-size 15px;
}
